path:hover {
  stroke: black;
  stroke-width: .25px;
  fill-opacity: .90; }

.App {
  text-align: center; }

.App-header {
  background-color: #ffffff;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  color: black; }

.App-title {
  font-size: 1.5em; }

.D3-holder {
  min-height: 300px;
  height: calc(100vh - 60px);
  max-height: 500px;
  border: 1px solid black;
  margin: 5px; }

.year-display {
  margin: 5px 10px -5px 0px;
  text-align: right;
  font-size: 12px;
  color: #444444; }

.slider-box {
  width: 700px;
  max-width: 95%;
  margin: 10px auto;
  height: 50px; }

.fa {
  color: #666666;
  margin-right: 10px; }

.slider {
  height: 20px;
  -webkit-appearance: none;
  margin: 10px auto;
  margin-top: 5px;
  width: 60%; }

.slider:focus {
  outline: none; }

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 1px #666666;
  background: #DDDDDD;
  border-radius: 7px;
  border: 0px solid #FFFFFF; }

.slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #666666;
  border: 1px solid #666666;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px; }

.slider:focus::-webkit-slider-runnable-track {
  background: #DDDDDD; }

.slider::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 1px #666666;
  background: #DDDDDD;
  border-radius: 7px;
  border: 0px solid #FFFFFF; }

.slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer; }

.slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

.slider::-ms-fill-lower {
  background: #DDDDDD;
  border: 0px solid #FFFFFF;
  border-radius: 14px;
  box-shadow: 2px 2px 1px #666666; }

.slider::-ms-fill-upper {
  background: #DDDDDD;
  border: 0px solid #FFFFFF;
  border-radius: 14px;
  box-shadow: 2px 2px 1px #666666; }

.slider::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer; }

.slider:focus::-ms-fill-lower {
  background: #DDDDDD; }

.slider:focus::-ms-fill-upper {
  background: #DDDDDD; }

.tooltip a {
  color: white; }

.controller-box {
  width: 525px;
  max-width: 95%;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.controller-box * {
  margin: 3px;
  display: inline-block; }

.toggle-controls label {
  min-width: 75px;
  text-align: center;
  align-self: center;
  margin-right: 5px; }

.checkbox-item-holder {
  display: inline-block; }

[type=checkbox] {
  vertical-align: middle; }

.lpr-toggle-box {
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  margin: 0px; }

.ni-toggle-box {
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  margin: 0px; }

.toggle-box label > input[type=radio] {
  display: none; }

.toggle-box label {
  text-align: center;
  font-weight: bold;
  cursor: pointer; }

.toggle-box label:hover {
  color: #000000; }

.info-visualizer {
  white-space: pre-wrap;
  text-align: left; }
