.card-holder {
  position: absolute;
  max-width: 400px;
  width: 50vw;
  min-width: 200px;
  border: 2px solid black;
  background-color: white;
}

//Card No Data
.card-nodata {
  font-size: .75em;
  display: flex;
  margin: 5px;
}

//Card Header
.card-head {
  border-bottom: 2px solid black;
  display: flex;
}

.card-title {
  text-align: left;
  width: 80%;
  margin: 5px;
}

.card-title p {
  margin: 0px;
}

.card-flag {
  width: 20%;
  margin: 0px;
  align-self: center;
}

.card-flag img {
  width: 90%;
}

//Card Data
.card-data {
  column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

.card-data p {
  margin: 2px 0px 3px 5px;
}

.card-data, .card-notes {
  font-size: .75em;
  text-align: left;
  margin-top: 3px;
}

.counted-category {
  font-weight: bold;
}

//Card Notes
.card-notes {
  border-top: 1px solid black;
}

.card-notes p {
  margin: 2px 0px 2px 5px;
}
